*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    background: none;
    border:0;
    padding: 5px;
    color: white;
    cursor: pointer;
    outline: none;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(13, 235, 13);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
a{
    text-decoration: none;
    color: white;
}
textarea{
    outline: none;
    border: none;
    background: none;
    color: white;
}
span.lime{
    color: rgb(13, 235, 13);
}
.main{
    background: url(./resources/image.jpg) center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.main .header{
    padding: 30px 60px;
    color: white;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.main .header ul{
    display: flex;
    list-style-type: none;
}
.main .header ul li{
    margin-left: 5px;
}
.main .header ul li a.normal{
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}
.main .header ul li a.normal:hover{
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(13, 235, 13);
}
.main .header ul li a.play-list{
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    background: rgb(13, 235, 13);
}

.main .content{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.main .content .lyrics{
    background: rgb(0, 0, 0, 0.6);
    width: 300px;
    height: 400px;
    padding: 10px;
    color: white;

}
.main .content .lyrics .lyrics-container{
    margin: 5px;
    text-align: center;
    overflow-y:scroll;
    height: 350px;
    width: 280px;
}
.main .content .playlist{
    background: rgb(0, 0, 0, 0.6);
    width: 300px;
    height: 400px;
    padding: 10px;
    color: white;
}
.main .content .playlist .playlist-container{
    display: flex;
    flex-direction: column;
    height: 350px;
}
.main .content .playlist .collection{
    flex: 1;
    padding: 10px;
}
.main .content .playlist .collection .select-music{
    width: 100%;
    border: rgb(13, 235, 13) 2px solid;
    padding: 10px;
    margin-bottom: 5px;
}
.main .content .playlist .player{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: rgb(13, 235, 13) 2px solid;
    padding: 10px;
}
.main .content .playlist .player .player-button{
    background: none;
    border:0;
    padding: 5px;
    color: white;
    cursor: pointer;
    outline: none;
}
.main .content .playlist .player .time{
    display: flex;
    padding: 5px;
}
